<a href="https://colab.research.google.com/github/Jakiaa/Python-Basic/blob/main/DataFrame_in_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFrame
It is a two-dimensional object similar to a spreadsheet or an SQL table. This is the most 
commonly used pandas object.

In [3]:
import pandas as pd
data={'Gender':['F','M','M'], 'Emp_id':[1,2,3], 'Age':[25,24,34]}
df=pd.DataFrame( data,columns=['Emp_id', 'Gender','Age'])
print(df)

   Emp_id Gender  Age
0       1      F   25
1       2      M   24
2       3      M   34