<a href="https://colab.research.google.com/github/Jakiaa/Python-Basic/blob/main/IF_Else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Grade point
mark=int(input("Get marks from user: "))
if mark>90:
  print("A")
if mark>80 and mark<=90:
  print("B")
if mark>60 and mark<=80:
  print("C")
if mark<60:
  print("D")

Get marks from user: 55
D

In [ ]:
#Cost price of a product with TAX
price=int(input("Get marks from user: "))
txt=0
if price>100000:
  TotalPrice=price+price*0.15
  txt=0.15*price
if price>50000 and price<=100000:
   TotalPrice=price+price*0.10
   txt=0.10*price
if price<=5000:
   TotalPrice=price+price*0.05
   txt=0.05*price
print(TotalPrice)
print("Taxt to be paid: ",txt)

Get marks from user: 90000
99000.0
9000.0

In [ ]:
#Leap year check
year=int(input("Get marks from user: "))
if year%100==0:
  if year%400==0:
    print("Given year is leap year")
  else:
    print("Given year is not leap year")
else:
  if year%4==0:
    print("Given year is leap year")
  else:
    print("Given year is not leap year")

Get marks from user: 2023
Given year is not leap year

In [ ]:
#true false
if True:
  print(101)
else:
  print(102)

101

In [ ]:
#Check prime or not
number=int(input("Enter the number:"))
k=0
if(number==0 or number==1 ):
  k=1
for i in range(2, number ):
  if number%i==0:
    k=1
if k==1:
  print("Given number is not prime")
else:
  print("Given number is prime")

Enter the number:7
Given number is prime

In [ ]:
# Vowel check
ch=input("Enter charecter: ")
vwl="aeiouAEIOU"
if ch in vwl:
  print(ch, "is vowel")
else:
  print(ch, "is Consonant")

Enter charecter: a
a is vowel

In [ ]:
# Possible to make triangle or not
s1=int(input("Enter s1:"))
s2=int(input("Enter s2:"))
s3=int(input("Enter s3:"))
if (s1+s2>s3 or s1+s3>s2 or s3+s2>s1 ):
  print("Possible to make Triangle")
else:
  print("Not p7ossible to make Triangle")

Enter s1:2
Enter s1:7
Enter s1:3
Possible to make Triangle

In [ ]:
#Alloted Subjects
english=int(input("Enter mark of English:"))
math=int(input("Enter mark of Math:"))
science=int(input("Enter mark of Science:"))
social_studies=int(input("Enter mark of Social Science:"))
if english>80 and math>80 and science>80 and social_studies>80:
  print("Science Stream")
elif english>80 and (math>50 or social_studies>50):
  print('CS')
elif english>80 and social_studies>80:
  print('Humanities')

Enter mark of English:87
Enter mark of Math:80
Enter mark of Science:89
Enter mark of Social Science:87
CS